extends layout

block content

	div.container
		div.row
			div.col-lg-12(style="font-family: 'Montserrat', sans-serif")
				form
					paper-input-decorator(label="with core-input")
						input(is="core-input")


	div.container
		div.row
			div.col-lg-12(style="font-family: 'Montserrat', sans-serif")
				
				h1= title
				p Welcome to #{title}
