doctype html
html
	head
		title= title
		link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', href="/stylesheets/music.css")
		link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Montserrat")
		link(rel='import', href="/polymer/polymer.html")
		link(rel='import', href="/core-animated-pages/core-animated-pages.html")
		link(rel='import', href="/paper-input/paper-input.html")
		link(rel='import', href="/paper-button/paper-button.html")
		script(src="/js/redirect.js")

		body
			block content