doctype html
html
	head
		title= title
		link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', href="/stylesheets/music.css")
		link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Montserrat")
		link(rel='import', href="/polymer/polymer.html")
		link(rel='import', href="/core-animated-pages/core-animated-pages.html")

		body
			block content