doctype html
html
	head
		title= title
		link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', href="/stylesheets/quiz.css")
		link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Montserrat")
		link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Lato:300")
		link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel='import', href="/polymer/polymer.html")
		link(rel='import', href="/core-animated-pages/core-animated-pages.html")
		link(rel='import', href="/paper-input/paper-input.html")
		link(rel='import', href="/paper-button/paper-button.html")
		link(rel='import', href="/core-icon/core-icon.html")

		script(src="/js/redirect.js")
		script(src="/js/cal-heatmap.min.js")
		script(src="/js/addHeatMap.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")

		body
			block content